@model IEnumerable<OrderGroupModel>
@{
    ViewData["Title"] = "Llamador";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .custom-card {
        width: 60%;
        margin: 10px auto;
    }

    .custom-column {
        width: 50%;
    }
    
    .modal-body .detallePedidoModal:nth-child(even) {
        background-color: #ffffff; /* Fondo blanco */
    }

    /* Estilo para filas impares */
    .modal-body .detallePedidoModal:nth-child(odd) {
    background-color: #ddebff; /* Fondo gris claro */
    }
</style>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pedidos Actuales</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="card shadow mb-4 custom-card">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">Pedidos Actuales</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                Número de Pedido
                            </th>
                            <th>
                                Retira
                            </th>
                        </tr>
                    </thead>
                    <tbody id="orderBody">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NumPedido)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Retira)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
                    <!-- start modal whit order details -->

                    <div class="modal fade" id="order-details-Modal" tabindex="-1" role="dialog" aria-labelledby="order-details-ModalLabel" aria-hidden="true">
                        <div class=" modal-dialog" role="document">
                            <div class="modal-content" id="order-details-Modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="order-details-ModalLabel">Detalles del Pedido:</h5>
                                </div>
                                <div class="modal-body" id="order-modal-body">
                                    <div class="form-group row">
                                        <!-- start body of modal -->

                                        <!-- end body of modal -->
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="Modal" onclick="cerrarModal()" >Cerrar</button>
                                    <div id="mensaje-order-details" style="margin-top: 5px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- end modal with order details-->
        </div>
    </div>
</body>
</html>

@section Scripts{
    <script>
        function cerrarModal(){
            $("#order-details-Modal").modal("hide");
            $("#order-modal-body").empty(); 
        }

        $(document).ready(function () {
            setInterval(function () {
                $.ajax({
                    url: "http://localhost:5000/api/PedidoActuales/OrderGroup",
                    type: "GET",
                    success: function (data) {
                        $("#orderBody").empty();
                        $.each(data, function (index, item) {
                            var row = "<tr><td><a href='#' class='detallePedido' id='detallePedido_"+item.numPedido+"' data-numPedido='" + item.numPedido + "'>" + item.numPedido + "</a></td><td>" + item.retira + "</td></tr>";
                            $("#orderBody").append(row);
                        });
                    },
                    error: function () {
                        console.log("Error al obtener los datos.");
                    }
                });
            }, 1000);
        });

        $(document).on("click", ".detallePedido", function(){
             $("#order-modal-body").empty();

            var numPedido = $(this).attr('data-numPedido'); // Obtener el valor de data-numPedido del elemento clickeado.
            $("#order-details-ModalLabel").text("Detalles del Pedido: " + numPedido); // Actualizar el número de pedido en el modal.
            $("#order-details-Modal").modal("show"); // Abrir Modal.

            $.ajax({
                url: "http://localhost:5000/api/PedidoActuales/OrderGroup/" + numPedido, 
                type: "GET",
                success: function (data){

                    // Agregar el número de artículo, nombre y cantidad al body del modal:
                $.each(data[0].detallePedidos, function (index, detalle) {
                    var detalleHtml = "<div class='detallePedidoModal'>";
                    detalleHtml += "<div>ID: " + detalle.articulo.id_Articulo + "</div>";
                    detalleHtml += "<div>Artículo: " + detalle.articulo.nombre + "</div>";
                    detalleHtml += "<div>Cantidad: " + detalle.cantidad + "</div>";
                    detalleHtml += "</div>";

                    $("#order-modal-body").append(detalleHtml);
                });
                },
                error: function (){
                    var detalleHtml = "<div class='detallePedidoModal'>";
                    detalleHtml += "<div>Error al obtener los datos.</div>";

                    $("#order-modal-body").append(detalleHtml);

                    console.log("Error al obtener los datos.");
                }
            });
        });
    </script>
}